<!DOCTYPE html>
<html>
    <head>
        <title>ABOUT</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
<div class="main-content">
 {{>header}}
 <p>this site was created by sohan tipre .It uses data from mapbox and weatherstack</p>
<img class="portrait" src="/img/flower.jpg">
</div>

{{>footer}}
    </body>
    
</html>